* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.photos {
  margin: auto;
  width: 90vw;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.photo {
  height: 20rem;
  display: block;
  width: 100%;
  object-fit: cover;
}
